@charset: "UTF-8";
body{
  background-color: #222222;
  margin: 0px;
}
.htit{
  color: red;
  display: inline-block;
  margin: 0px;
}
.stit{
  color: red;
  display: inline-block;
}
.btmn1{
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 3px;
}
.btmn2{
  float: right;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 3px;
}
.cabecalho{
  background-color: gray;
  text-align: center;
  border-bottom: 1.5px solid #d5d5d5;
}
.inazuma{
  display: inline-block;
}
.cent{
  float: none;
}
.principal{
  background-color: #727272;
  box-shadow: 3px 3px 5px #000000c4;
  
  width: 340px;
   margin: auto;
   margin-top: 10px;
   padding: 6px;
   padding-bottom: 80px;
}
.mainexp{
  width: 140px;
  height: 210px;
  background-size: 140px 210px;
  background-repeat: no-repeat;
  margin-bottom: -110px;
  border: 2px solid #000000;
}
.tn{
  color: white;
  font-size: 23px;
  padding-left: 140px;
  
  width: 190px;
  text-align: center;
}
.zz{
  
}
.linem{
  display: inline-block;
  color: black;
  width: 104px;
  height:171px;
  padding: 3px;
  text-align: center;
  font: normal normal 1em 'Roboto Condensed', Sans-Serif;
  /*transition: transform 1s, background-color 1s;*/
}
.imgclass{
  width:100px;
  height: 150px;
  background-size: 100px 150px;
  background-repeat: no-repeat;
  margin: auto;
}
 .linem:active{
        transition-duration: 1s;
        background-color: #ff00ff;
        /*transform: scale(1.5);*/
      }
   .csstxt{
   margin-top: 0px;
  /*background-color: #00E9FF;*/
  color: white;
   border-bottom:1px solid white;
  }
.imgclass{
  width:100px;
  height: 150px;
}
.myl{
  background-color: transparent;
  text-align: center;
  max-width: 640px;
  margin: auto;
  border-radius: 5px;
  margin-top: 7px;
}
.topo{
  background-color: #e4e4e4;
  color: #000000;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
}
.fff{
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 10px;
  background-color: black;
  margin-top: 10px;
}
/*sub page h*/
.zzxx{
  background-color: rgba(21,21,21,0.945);
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
}
.extali{
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 10px;
}
.tp{
  color: red;
  display: inline-block;
  float: right;
  margin-right: 10px;
}
.mz{
  line-height: 0px;
}
.maincapa{
  width: 200px;
  height: 300px;
  background-size: 200px 300px;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 10px;
}
.alc{
  width: 100%;
  background-color: rgb(0,0,0);
  height: 32px;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.titu{
  color: white;
}
.read{
  color: white;
  background-color: red;
  width: 250px;
  margin: auto;
  padding: 2px;
  transition: background-color 0.3s;
  margin-bottom: 8px;
}
.read:active{
  background-color: rgb(97,0,255);
}
.minii{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: -8px;
}
.ppr{
  display: inline-block;
  line-height: 0px;
}
.linkk{
  text-decoration: none;
}
.areac{
  width: 100%;
}
.ccll{
  display: inline-block;
  font: normal normal 0.9em Aril,Helvetica,Sans-Serif;
  border-radius: 10px;
  border: 1px solid lime;
  color: white;
  padding: 0.1px 5px;
  margin-top: 3px;
  margin-left: 4px;
}
/*media queries*/
@media (max-width: 400px) {
  
}